---
layout: page
title: "2021 Lectures"
permalink: /2020/
phony: true
excerpt: '' # work around a bug
---

<ul class="double-spaced">
  {% assign lectures = site['2020'] | sort: 'date' %}
  {% for lecture in lectures %}
    {% if lecture.phony != true %}
      <li>
        <strong>{{ lecture.date | date: '%-m/%d' }}</strong>:
        {% if lecture.ready %}
          <a href="/LIS-570-Au2021/{{ lecture.url }}">{{ lecture.title }}</a>
        {% elsif lecture.noclass %}
          {{ lecture.title }} [no class]
        {% else %}
          {{ lecture.title }} [coming soon]
        {% endif %}
        {% if lecture.details %}
          <br>
          ({{ lecture.details }})
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

Video recordings of the lectures are available <a href="https://www.youtube.com/playlist?list=PLbfZ2tKmriI7wsTY0fusl6OCrJsdhXSsr">on YouTube</a>.
